* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body{
    width: 1440px;
    height: 1146px;
       }
.zalogo{
    width: 1261px;
    height: 113px;
    margin-left: 179px;
    background-color: #FFF06A;

}
h1{
    font-size: 32px;
    font-weight: 300;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 37px;
    padding-left: 37px;

 }
img{
    width: 1033px;
    height: 715px;
    top: 137px;
    left: 206px;

 }
.header{
    width: 179px;
    height: 1146px;
    background-color: #FEFFC7;
    float: left;
    padding-left: 23px;
  }
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;

}

img{
    margin-top: 20px;
    margin-left: 50px;
}

.header__logo{
    font-size: 24px;
    padding-bottom: 72px;
    padding-top: 32px;
}

.header__link{

    font-size: 20px;
}

.header__lonk{
    padding-top: 72px;
    font-size: 20px;
}
.header__logo img{
    width: 38px;
    height: 38px;
    padding: 0 ;
    margin:  0 ;
}
.header__lonk img{
    width: 24px;
    height: 24px;
    padding: 0 ;
    margin:  0 ;
}

form{
    border: 1px solid black;
    background-color: #F2F2F2;
    width: 690px;
    height: 380px;
    margin-top: 20px;
    margin-left: 216px;
    padding: 26px;
}
.form{
    display: flex;
    flex-wrap: wrap;
    padding-top:10px;
    padding-bottom:26px;
}
.form-control{
    width: 289px;
    height: 42px;
    left: 254px;
    border: 1px solid black;
    margin-top: 26px;
    margin-right:28px;
}
button{
    width: 133px;
    height: 42px;
    top: 435px;
    left: 254px;
    border-radius: 5px;
    border: 1px solid black;

}
form h4{
    width: 625px;
    height: 29px;
    top: 169px;
    left: 254px;
    font-size: 24px;
    font-weight: normal;
}
table{
    margin-top:20px;
    margin-left:216px;
    width: 1050px;
    height: 170px;
    text-align: center;
}

td{
   border: 1px solid #DCDCDC;
   width: 70px;
   font-size: 14px;
}
th{
    border: 1px solid #DCDCDC;
    background-color:#F2F2F2;
    width: 70px;
    font-weight: normal;
    font-size: 16px;
}